<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gradle_mybatis_spring_study.mapper.StudentMapper">
	<select id="selectStudentByNo" parameterType="gradle_mybatis_spring_study.dto.Student" resultType="Student">
		SELECT STUD_ID AS studId, NAME, EMAIL, DOB, PHONE 
		FROM STUDENTS
		WHERE STUD_ID = ${studId}
	</select>
</mapper>