<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="gradle_mybatis_spring_study.dto" />
	</typeAliases>
	<typeHandlers>
		<!-- <typeHandler handler="gradle_mybatis_spring_study.handler.PhoneTypeHandler" 
			/> -->
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="Gender" />
		<package name="gradle_mybatis_spring_study.handler" />
		<package name="gradle_mybatis_spring_study.typehandlers" />
	</typeHandlers>
</configuration>