<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="gradle_mybatis_spring_study.dto"/>
	</typeAliases>
	<typeHandlers>
		<!-- <typeHandler handler="gradle_mybatis_spring_study.handler.PhoneTypeHandler" /> -->
		<package name="gradle_mybatis_spring_study.handler"/>
	</typeHandlers>
</configuration>
